
html
{
 box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.588);
}
   body{
        
        background-image: url('https://prudhwi2002.github.io/Webflix/netflixbg.jpg');
}

  #Lang /*select language*/
  {background-color: black;
    border-color: white;
    color:white;
    width: 80px;
    height: 30px;
    font-weight: bolder;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 400px;
  }

 .div1
 {

height: 200px;
box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.501);

 }
 .div2
 {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.594);

 }
 .h1{
  align-content:center;
  color:white;
  font-weight: bolder;
  margin-left: 150px;
  font-size: 60px;
 }
 h3{
color: white;
font-weight: lighter;
font-size: 35px;
margin-left: 150px;
 }
.p{
  color:white;
  font-weight: lighter;
font-size: 25px;
margin-left: 150px;
}
 .button
 {
  color:white;
  background-color:red;
  font-weight:bold;
  font-family:sans-serif;
  border-color: red;
  height:30px;
  width:100px;
 }
 #email
 {
    background-color: transparent;
    color: silver;
    height: 50px;
    width: 400px;
    margin-left: 150px;
    font-weight: bold;
    font-size: 20px;
 }
.button1{color:white;
  background-color:red;
 margin-left:12px;
  font-weight:bold;
  font-family:sans-serif;
  font-size: 30px;
  border-color: red;
  height:55px;
  width:200px;
 }
 .toph1{
  margin-right: 40%;
  color:white;
  font-weight: bolder;
  font-size: 60px;
 }
 .p1{
  color:white;
  font-weight: lighter;
font-size: 25px;
margin-left: 10px;
margin-right: 40%;
 }

 .topnav
 {
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0);
  height: 500px;
  width: 100%;
 
 }
 .p2{
  color:white;
  font-weight: lighter;
font-size: 25px;
  margin-left: 60%;
  margin-bottom:400px;
 }
 .toph12{
  margin-left: 60%;
  margin-right:50px ;
  color:white;
  font-weight: bolder;
  font-size: 35px;
 }
 .topnav2{
 background-color:black;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0);
  border-top: 2px solid white;
  width: 100%;
  height: 700px;

 }
  .img2

 {

  margin-left: 10%;
  margin-top: 1px;
  margin-bottom:50px;
  width: 480px;
  height: 310px;
 }
.img1{
  margin-left:50%;
  }
.img3
{
  width: 480px;
  height: 310px;
}

.topnav3{
  background-color:black;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0);
  border-top: 2px solid white;
  width:100%;
  height: 700px;
 }
 .topnav4{
  background-color:black;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0);
  border-top: 2px solid white;
  width: 100%;
  height: 200px;
 }
 a{
  color: white;
 }
 .p3{
  color:white;
  font-weight: lighter;
font-size: 25px;
  margin-left: 25%;
  margin-bottom:10px;
 }
.p4{
  color:white;
  font-weight: lighter;
  font-size: 25px;
  margin-left: 10%;
  margin-bottom:10px;
   }
